﻿
@model IEnumerable<NMEX_Manufacturing_KPIs.Models.Module_Inventory.Inventory>
@{
    ViewData["Title"] = "Inventory";
}

<div style="display: flex;">
    <a class="btn btn-primary" asp-action="DeviceType"  style="margin-right: 5px;">Manage Devices</a>
    <a class="btn btn-primary" asp-action="Version"  style="margin-right: 5px;">Manage Versions</a>
    <a class="btn btn-primary" asp-action="Model"  style="margin-right: 5px;">Manage Models</a>
    <a class="btn btn-primary" asp-action="Location" style="margin-right: 5px;">Manage Locations</a>
</div>

<h1 style="margin-top: 25px;">Inventory (Planta Actual)</h1>
<a asp-action="CrearPersona" class="btn btn-primary mb-3" style="margin-top: 5px;">New record</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Device Type</th>
            <th>Modelo</th>
            <th>Version</th>
            <th>Location</th>
            <th>Serial No.</th>
            <th>Date</th>
            <th>Accions</th>
        </tr>
    </thead>

    <tbody>
       @*  @foreach (var recordInventory in Model)
        {
                <tr>
                <td>
                   
                </td>
                <td>
                   
                </td>
                <td>
                    
                </td>
                <td>
                   
                </td>
                <td>
                        <div style="display: flex;">
                            <a class="btn btn-danger" asp-action="BorrarPersona" asp-route-id="" style="margin-right: 5px;">Borrar</a>
                            <a class="btn btn-primary" asp-action="EditarPersona" asp-route-id="">Editar</a>
                        </div>
                    </td>
                </tr>
        } *@
    </tbody>
</table>