﻿
@model IEnumerable<NMEX_Manufacturing_KPIs.Models.Module_Inventory.Location>
@{
    ViewData["Title"] = "Location";
    int i = 1;
}

<h1>Location</h1>

<a asp-action="CreateLocation" class="btn btn-primary mb-3" style="margin-top: 5px;">New record</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Plant</th>
            <th>Accions</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var recordLocation in Model)
        {
            <tr>
                <td>
                    @i
                <td>
                    @recordLocation.Location_description
                </td>
                <td>
                    @recordLocation.Plant
                </td>
                <td>
                    <div style="display: flex;">
                        <a class="btn btn-primary" asp-action="EditLocation" asp-route-id="">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteLocation" asp-route-id="" style="margin-right: 5px;">Delete</a>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
